JWT_SECRET=replace-with-a-random-secret-string-at-least-32-chars
Render_External_URL = postgresql://ai_agends_user:kJ9Iit60LhSKeqcW8PJL8X0WztygxEtH@dpg-d8d5it9o3t8c73e6uuj0-a.virginia-postgres.render.com/ai_agends
